button {
    background-color: #EAEFEF;
    border: 1px solid white; 
    margin:2px;
    width: 60px;
    height: 40px; 
    border-radius : 20px
}

button:hover {
    background-color: #7c7f7f;
}

button:active {
    background-color : #596464;
}


button.active {
    background-color:#B8CFCE;
}

button.active:hover {
    background-color : #636e6e;
}

button.active:active {
    background-color : #6a6d6d;
}
