div.selectRole{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

div.selectRole h1{
    grid-column: 2/5;
    color: rebeccapurple;
    display: flex;
  justify-content: center;
  align-items: center;
}

div.selectRole a {
    display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 25px;
  cursor: pointer;
}

div.selectRole a#patient {
    grid-column: 2/3;
    grid-row: 3/4;
    
}

div.selectRole a#doctor {
    grid-column: 4/5;
    grid-row: 3/4;
}

div.selectRole a div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}