.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding: 20px;
}

h1, h2, h3 {
  color: #1d3557;
}

button {
  background-color: rgba(0, 0, 255, 0.448);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(0, 0, 255, 0.448);
}
img {
  display: block;
  max-width: 100%;
}
